<div class="flex justify--center">
  <form [formGroup]="userPublicProfileFormGroup" class="flex--column gap--8 mt--32 width--300">
    <div class="flex--column align--start">
      <label class="mr--16 text--bold" for="office">Office</label>
      <cavelizer-input-group class="width--full">
        <cavelizer-text-input id="office" type="text" formControlName="office" class="width--full"></cavelizer-text-input>
      </cavelizer-input-group>
    </div>

    <mat-form-field class="mt--16" appearance="fill">
      <mat-label>Department</mat-label>
      <mat-select formControlName="department">
        <mat-option value="development">Development</mat-option>
        <mat-option value="qa">QA</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Position</mat-label>
      <mat-select formControlName="position">
        <mat-option value="junior">Junior</mat-option>
        <mat-option value="medior">Medior</mat-option>
        <mat-option value="senior">Senior</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Team</mat-label>
      <mat-select formControlName="team">
        <mat-option value="frontend">Frontend</mat-option>
        <mat-option value="backend">Backend</mat-option>
        <mat-option value="tester">Tester</mat-option>
        <mat-option value="qa">QA</mat-option>
        <mat-option value="project manager">Project manager</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex--column align--start">
      <label class="mr--16 text--bold" for="phone">Phone</label>
      <cavelizer-input-group class="width--full">
        <cavelizer-text-input id="phone" type="text" formControlName="phone"></cavelizer-text-input>
      </cavelizer-input-group>
    </div>

    <cavelizer-button (click)="onSavePublicProfile()" class="width--full mt--32" [attr.disabled]="!userPublicProfileFormGroup.dirty">Save </cavelizer-button>
    <!--  TODO: Delete it after implementations / used only for tutorial-->
    <!--    <pre>{{ userPublicProfileFormGroup.value | json }}</pre>-->
  </form>
</div>
