<div class="flex justify--center">
  <form [formGroup]="userPublicProfileFormGroup" class="flex--column gap--8 mt--32 width--300">
    <cvz-input-group>
      <cvz-label>Office</cvz-label>
      <cvz-input-text formControlName="office"></cvz-input-text>
    </cvz-input-group>

    <mat-form-field appearance="fill" class="mt--16">
      <mat-label>Department</mat-label>
      <mat-select formControlName="department">
        <mat-option value="development">Development</mat-option>
        <mat-option value="qa">QA</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Position</mat-label>
      <mat-select formControlName="position">
        <mat-option value="junior">Junior</mat-option>
        <mat-option value="medior">Medior</mat-option>
        <mat-option value="senior">Senior</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Team</mat-label>
      <mat-select formControlName="team">
        <mat-option value="frontend">Frontend</mat-option>
        <mat-option value="backend">Backend</mat-option>
        <mat-option value="tester">Tester</mat-option>
        <mat-option value="qa">QA</mat-option>
        <mat-option value="project manager">Project manager</mat-option>
      </mat-select>
    </mat-form-field>

    <cvz-input-group>
      <cvz-label>Phone</cvz-label>
      <cvz-input-text formControlName="phone"></cvz-input-text>
    </cvz-input-group>

    <cvz-button (click)="onSavePublicProfile()" [disabled]="!userPublicProfileFormGroup.dirty"
                      class="width--full mt--16">Save
    </cvz-button>
  </form>
</div>
