


<div class="flex justify--center">
  <form [formGroup]="userPublicProfileFormGroup" class="flex--column gap--8 mt--32 width--300">
    <div class="flex--column align--start ">
      <label class="mr--16 text--bold" for="office">Office</label>
      <cavelizer-input-group class="width--full">
        <cavelizer-text-input id="office" type="text" formControlName="office" class="width--full"></cavelizer-text-input>
      </cavelizer-input-group>
    </div>

    <div class="flex--column align--start">
      <label class="mr--16 text--bold" for="department">Department</label>
      <select id="department" formControlName="department" class="width--full">
        <option value="development">Development</option>
        <option value="qa">QA</option>
      </select>
    </div>

    <div class="flex--column align--start">
      <label class="mr--16 text--bold" for="position">Position</label>
      <select id="position" formControlName="position" class="width--full">
        <option value="junior">Junior</option>
        <option value="medior">Medior</option>
        <option value="senior">Senior</option>
      </select>
    </div>

    <div class="flex--column align--start">
      <label class="mr--16 text--bold" for="team">Team</label>
      <select name="" id="team" formControlName="team" class="width--full">
        <option value="frontend">Frontend</option>
        <option value="backend">Backend</option>
        <option value="tester">Tester</option>
        <option value="qa">QA</option>
        <option value="project manager">Project manager</option>
      </select>
    </div>

    <div class="flex--column align--start">
      <label class="mr--16 text--bold" for="phone">Phone</label>
      <cavelizer-input-group>
        <cavelizer-text-input id="phone" type="text" formControlName="phone"></cavelizer-text-input>
      </cavelizer-input-group>
    </div>

    <cavelizer-button (click)="onSavePublicProfile()" class="width--full">Save</cavelizer-button>
    <!--  TODO: Delete it after implementations / used only for tutorial-->
    <pre>{{ userPublicProfileFormGroup.value | json }}</pre>
  </form>
</div>
