<table class="table">
  <thead>
    <tr>
      <th>Vitamins</th>
      <th>Qunatity</th>
      <th>% DV</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vitamin A equiv.</td>
      <td>735 μg</td>
      <td>104 %</td>
    </tr>
    <tr>
      <td>Thiamine (B1)</td>
      <td>0.066 mg</td>
      <td>6 %</td>
    </tr>
    <tr>
      <td>Niacin (B3)</td>
      <td>0.983 mg</td>
      <td>7 %</td>
    </tr>
    <tr>
      <td>Folate (Bg)</td>
      <td>19 μg</td>
      <td>5 %</td>
    </tr>
    <tr>
      <td>Vitamin C</td>
      <td>5.9 mg</td>
      <td>7 %</td>
    </tr>
    <tr>
      <td>Vitamin E</td>
      <td>0.66 mg</td>
      <td>4 %</td>
    </tr>
    <tr>
      <td>Vitamin K</td>
      <td>13.2</td>
      <td>13 %</td>
    </tr>
  </tbody>
</table>
