:host {
  padding-bottom: 16px;
}

.messages {
  height: calc(100vh - 390px);
  overflow: overlay;
  padding: 16px 32px 16px 16px;
}

.chat-message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  margin: 5px 10px;
  min-height: 40px;
  width: auto;
  border-radius: 18px;
  color: white;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  div {
    display: inline-flex;
  }
}

.message-left-wrapper {
  display: flex;
  flex-direction: row;

  .message-left {
    background: #EFF2F4;
    color: black;
  }
}

.message-right-wrapper {
  display: flex;
  flex-direction: row-reverse;

  .message-right {
    background-color: #377DFF;
  }
}
