@import 'colors';

:host {
  padding-bottom: 16px;

  .messages {
    height: calc(100vh - 390px);
    overflow: overlay;
    padding: 16px 32px 16px 16px;

    .message-wrapper {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      margin-right: 94px;

      .message {
        flex-direction: column;
        align-items: flex-start;

        display: inline-flex;

        padding: 16px;
        margin: 5px 10px;
        min-height: 40px;
        width: auto;
        border-radius: 18px;
        background-color: $color-info-090;
        color: $color-white;

        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }

      .avatar {
        visibility: hidden;
        position: absolute;
        top: 50%;
        right: -54px;
        transform: translateY(-50%);

        width: 54px;
        height: 54px;
        border-radius: 50%;
      }

      &.message-left-wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-left: 94px;
        margin-right: unset;

        .message {
          background: $color-grey-080;
          color: $color-black;
        }

        .avatar {
          left: -54px;
          right: unset;
        }
      }

      &.message-left-wrapper:last-child,
      &.message-right-wrapper:last-child {
        .avatar {
          //visibility: visible;
        }
      }
    }
  }
}
