<div class="product-item-large">
  <div class="product-image">
    <!-- <img src="" alt="" /> -->
  </div>
  <div class="product-title">
    <div class="title">Product title</div>
    <div class="subtitle">Space for a small product description</div>
    <div class="rating">
      <cvz-icon name="star-full"></cvz-icon>
      <cvz-icon name="star-full"></cvz-icon>
      <cvz-icon name="star-full"></cvz-icon>
      <cvz-icon name="star-full"></cvz-icon>
      <cvz-icon name="star-empty"></cvz-icon>
    </div>
    <div class="information">
      <div class="key-information">
        <span>Fresheness</span>
        <span>Farm</span>
        <span>Delivery</span>
        <span>Stock</span>
      </div>
      <div class="value-information">
        <div class="text">
          <span class="important">New</span>
          <span>(Extra fresh)</span>
        </div>
        <span>Grocery Tarm Fields</span>
        <span>Europe</span>
        <span class="important">320 pcs</span>
      </div>
    </div>
  </div>
  <div class="product-price">
    <div class="title"><span>36.99 USD</span></div>
    <div class="subtitle">
      <s><span>48.56</span></s>
    </div>
    <div class="shipping"><span>Free Shipping</span></div>
    <div class="delivery"><span>Delivery in 1 day</span></div>
    <cvz-button class="normal">Product details<cvz-icon name="arrow-right"></cvz-icon></cvz-button>
    <cvz-button class="normal grey"><cvz-icon class="mr--8" name="heart"></cvz-icon>Add to wish list</cvz-button>
  </div>
</div>
