@import 'colors';

:host {
  display: inline-flex;
  cursor: pointer;
}

::ng-deep {
  cvz-icon {
    /* Default */
    svg {
      width: 24px;
      height: 24px;
    }

    /* Sizes */
    &.very-small {
      svg {
        width: 12px;
        height: 12px;
      }
    }

    &.small {
      svg {
        width: 16px;
        height: 16px;
      }
    }

    &.big {
      svg {
        width: 32px;
        height: 32px;
      }
    }

    &.xl {
      svg {
        width: 64px;
        height: 64px;
      }
    }

    &.xxl {
      svg {
        width: 128px;
        height: 128px;
      }
    }

    /* Colors */
    &.color-primary {
      svg {
        path {
          fill: $color-primary;
        }
      }
    }

    &.color-warning {
      svg {
        path {
          fill: $color-warning;
        }
      }
    }

    &.color-error {
      svg {
        path {
          fill: $color-error;
        }
      }
    }

    &.color-info {
      svg {
        path {
          fill: $color-info;
        }
      }
    }

    &.color-white {
      svg {
        path {
          fill: $color-white;
        }
      }
    }
  }
}

