<div class="shop-layout flex--column">
    <div class="bordered">
        <a href="https://trello.com/c/wLJeaMxo/62-component-shop-headline-above-shop-header">headline contact info
            component</a>
    </div>
    <div class="bordered">
        <a href="https://trello.com/c/POfB0FcT/69-component-menu" target="_blank">menu component</a>
    </div>
    <div class="bordered">
        <a href="https://trello.com/c/XwkjXxoE/58-component-shop-header" target="_blank">shop header - search</a>
    </div>

    <cavelizer-breadcrumb></cavelizer-breadcrumb>

    <div class="bordered">
        <a href="https://trello.com/c/HzZh3nWm/63-component-product-item" target="_blank">products list component</a>
    </div>
    <div class="bordered">
        footer component
    </div>
</div>
