<div class="shop-layout flex--column">
  <app-shop-headline></app-shop-headline>
  <app-shop-header></app-shop-header>
  <app-shop-menu></app-shop-menu>

  <!--  Categories / Mini banners -->
  <div class="flex pl--46 pr--30">
    <div class="flex--column flex--1">
      <span class="fs--18 my--16 text--bold">Category menu</span>

      <div class="flex--column flex--1">
        <a class="mb--12">Bakery</a>
        <a class="mb--12">Fruit and vegetables</a>
        <a class="mb--12">Meat and fish</a>
        <a class="mb--12">Drinks</a>
        <a class="mb--12">Kitchen</a>
      </div>

      <cavelizer-button class="small grey mb--16">More categories <cavelizer-icon name="arrow-right" ></cavelizer-icon> </cavelizer-button>
    </div>

    <cavelizer-mini-banner>
      <ng-container subtitle>Banner subfocus</ng-container>
      <ng-container title>Space for heading</ng-container>
      <ng-container action> Read recepies </ng-container>
    </cavelizer-mini-banner>

    <cavelizer-mini-banner>
      <ng-container subtitle>Banner subfocus</ng-container>
      <ng-container title>Space for heading</ng-container>
      <ng-container action> Read recepies </ng-container>
    </cavelizer-mini-banner>
  </div>

  <div class="bordered text--center p--32">
    <a href="https://trello.com/c/HzZh3nWm/63-component-product-item" target="_blank">products list component</a>
  </div>

  <div class="bordered text--center p--32">
    <a href="https://trello.com/c/HzZh3nWm/63-component-product-item" target="_blank">products list component</a>
  </div>

  <!-- Reviews -->
  <div class="justify--space-between width--full pl--44 mt--24 pr--20 mb--36">
    <span class="fs--18 text--bold">Our customer says</span>
    <cavelizer-button class="small transparent">See more <cavelizer-icon name="arrow-right" class="primary-color"></cavelizer-icon></cavelizer-button>
  </div>

  <div class="scroll-parent">
    <div class="scroll-element primary">
      <cavelizer-quote avatar="https://randomuser.me/api/portraits/men/52.jpg">
        <ng-container message>“ This is an super space for your customers qoute. Don’t worry it works smooth as pie.
          You will get all what you need by writiing a text here “
        </ng-container>
        <ng-container author>Florin Matei</ng-container>
      </cavelizer-quote>

      <cavelizer-quote avatar="">
        <ng-container message>“ This is an super space for your customers qoute. Don’t worry it works smooth as pie.
          You will get all what you need by writiing a text here “
        </ng-container>
        <ng-container author>Alex a plecat</ng-container>
      </cavelizer-quote>

      <cavelizer-quote avatar="https://randomuser.me/api/portraits/men/54.jpg">
        <ng-container message>“ This is an super space for your customers qoute. Don’t worry it works smooth as pie.
          You will get all what you need by writiing a text here “
        </ng-container>
        <ng-container author>Florin Matei</ng-container>
      </cavelizer-quote>
    </div>

    <div class="scroll-element secondary">
      <cavelizer-quote avatar="https://randomuser.me/api/portraits/men/52.jpg">
        <ng-container message>“ This is an super space for your customers qoute. Don’t worry it works smooth as pie.
          You will get all what you need by writiing a text here “
        </ng-container>
        <ng-container author>Florin Matei</ng-container>
      </cavelizer-quote>

      <cavelizer-quote avatar="">
        <ng-container message>“ This is an super space for your customers qoute. Don’t worry it works smooth as pie.
          You will get all what you need by writiing a text here “
        </ng-container>
        <ng-container author>Alex a plecat</ng-container>
      </cavelizer-quote>

      <cavelizer-quote avatar="https://randomuser.me/api/portraits/men/54.jpg">
        <ng-container message>“ This is an super space for your customers qoute. Don’t worry it works smooth as pie.
          You will get all what you need by writiing a text here “
        </ng-container>
        <ng-container author>Florin Matei</ng-container>
      </cavelizer-quote>
    </div>
  </div>

  <div class="bordered text--center p--32">
    Section headline
  </div>

  <div class="bordered text--center p--32">
   Blog
  </div>

  <div class="flex py--64 px--46 justify--space-between">
    <div *ngFor="let group of footerLinkGroups" class="flex--column">
      <span class="fs--18 my--16 text--bold">{{ group.headline }}</span>

      <div class="flex--column flex--1">
        <a *ngFor="let item of group.items" [routerLink]="item.urlPath" class="mb--12">{{ item.name }}</a>
      </div>
    </div>
  </div>

  <div class="text--center p--32 fs--12 color--grey">
    Copyright © 2022 - cavelizer team
  </div>

</div>
