<div class="shop-layout flex--column">
  <app-shop-headline></app-shop-headline>
  <app-shop-header></app-shop-header>
  <cavelizer-breadcrumb></cavelizer-breadcrumb>

  <div>
    <a href="https://trello.com/c/HzZh3nWm/63-component-product-item" target="_blank">products list component</a>
  </div>


  <!-- Reviews -->
  <div class="justify--space-between px--46 mb--36">
    <span>Our customer says</span>
    <cavelizer-button class="small transparent">See more <cavelizer-icon name="arrow-right" class="primary--color"></cavelizer-icon></cavelizer-button>
  </div>

  <div class="scroll-parent">
    <div class="scroll-element primary">
      <cavelizer-quote avatar="https://randomuser.me/api/portraits/men/52.jpg">
        <ng-container message>“ This is an super space for your customers qoute. Don’t worry it works smooth as pie.
          You will get all what you need by writiing a text here “
        </ng-container>
        <ng-container author>Florin Matei</ng-container>
      </cavelizer-quote>

      <cavelizer-quote avatar="">
        <ng-container message>“ This is an super space for your customers qoute. Don’t worry it works smooth as pie.
          You will get all what you need by writiing a text here “
        </ng-container>
        <ng-container author>Alex a plecat</ng-container>
      </cavelizer-quote>

      <cavelizer-quote avatar="https://randomuser.me/api/portraits/men/54.jpg">
        <ng-container message>“ This is an super space for your customers qoute. Don’t worry it works smooth as pie.
          You will get all what you need by writiing a text here “
        </ng-container>
        <ng-container author>Florin Matei</ng-container>
      </cavelizer-quote>
    </div>

    <div class="scroll-element secondary">
      <cavelizer-quote avatar="https://randomuser.me/api/portraits/men/52.jpg">
        <ng-container message>“ This is an super space for your customers qoute. Don’t worry it works smooth as pie.
          You will get all what you need by writiing a text here “
        </ng-container>
        <ng-container author>Florin Matei</ng-container>
      </cavelizer-quote>

      <cavelizer-quote avatar="">
        <ng-container message>“ This is an super space for your customers qoute. Don’t worry it works smooth as pie.
          You will get all what you need by writiing a text here “
        </ng-container>
        <ng-container author>Alex a plecat</ng-container>
      </cavelizer-quote>

      <cavelizer-quote avatar="https://randomuser.me/api/portraits/men/54.jpg">
        <ng-container message>“ This is an super space for your customers qoute. Don’t worry it works smooth as pie.
          You will get all what you need by writiing a text here “
        </ng-container>
        <ng-container author>Florin Matei</ng-container>
      </cavelizer-quote>
    </div>
  </div>

  <div>
    footer component
  </div>
</div>
