<form [formGroup]="resetPasswordFormGroup">
  <h1>Reset password</h1>

  <div class="flex--column align--start ">
    <label class="mr--16 text--bold" for="code">Reset code</label>
    <cavelizer-input-group class="width--full">
      <cavelizer-text-input id="code" type="text" formControlName="code" placeholder="Reset code"
                            class="width--full"></cavelizer-text-input>
    </cavelizer-input-group>
  </div>

  <div class="flex--column align--start ">
    <label class="mr--16 text--bold" for="email">E-mail</label>
    <cavelizer-input-group class="width--full">
      <cavelizer-text-input id="email" type="text" formControlName="email" placeholder="E-mail"
                            class="width--full"></cavelizer-text-input>
    </cavelizer-input-group>
  </div>

  <div class="flex--column align--start ">
    <label class="mr--16 text--bold" for="password">Password</label>
    <cavelizer-input-group class="width--full">
      <cavelizer-text-input id="password" type="password" formControlName="password" placeholder="Password"
                            class="width--full"></cavelizer-text-input>
    </cavelizer-input-group>
  </div>

  <div class="flex--column align--start ">
    <label class="mr--16 text--bold" for="confirmPassword">Confirm password</label>
    <cavelizer-input-group class="width--full">
      <cavelizer-text-input id="confirmPassword" type="password" formControlName="confirmPassword"
                            placeholder="Confirm password"
                            class="width--full"></cavelizer-text-input>
    </cavelizer-input-group>
  </div>
  <a routerLink="/auth/login">Already have an account?</a>

  <cavelizer-button (click)="resetPasswordClicked()" class="width--full">Reset password</cavelizer-button>
</form>
