<form [formGroup]="resetPasswordFormGroup">
  <h1>Reset password</h1>

  <cvz-input-group>
    <cvz-label>Reset code</cvz-label>
    <cvz-input-text formControlName="code"> </cvz-input-text>
  </cvz-input-group>

  <cvz-input-group>
    <cvz-label>E-mail</cvz-label>
    <cvz-input-text formControlName="email"> </cvz-input-text>
  </cvz-input-group>

  <cvz-input-group>
    <cvz-label>Username</cvz-label>
    <cvz-input-text formControlName="username"> </cvz-input-text>
  </cvz-input-group>

  <cvz-input-group>
    <cvz-label>Username</cvz-label>
    <cvz-input-text formControlName="username"> </cvz-input-text>
  </cvz-input-group>

  <cvz-input-group>
    <cvz-label>Password</cvz-label>
    <cvz-input-text formControlName="password" type="password"> </cvz-input-text>
  </cvz-input-group>

  <cvz-input-group>
    <cvz-label>Confirm password</cvz-label>
    <cvz-input-text formControlName="confirmPassword" type="password"> </cvz-input-text>
  </cvz-input-group>

  <a routerLink="/auth/login">Already have an account?</a>

  <cvz-button (click)="resetPasswordClicked()" class="width--full">Reset password</cvz-button>
</form>
