@import 'colors';
@import 'mixins';
@import 'variables';

.toggle-input {
  width: fit-content;
  display: flex;
  align-items: center;

  .toggle-item {
    display: flex;
    align-items: center;
    position: relative;

    width: 36px;
    height: 20px;
    border-radius: $border-radius-xxl;
    background: $color-grey-040;
    cursor: pointer;

    .toggle-bullet {
      background: $color-white;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 2px;
      transition: all 0.3s;
    }

    &.selected {
      background-color: $color-primary;

      .toggle-bullet {
        left: 18px;
        transition: all 0.3s;
      }
    }

    &:hover {
      background-color: $color-primary-010;
    }

    &.disabled {
      background: $color-grey-050;
      cursor: no-drop;

      .toggle-bullet {
        background: $color-grey-030;
      }

      &.selected {
        background-color: $color-grey-020;
      }
    }
  }
}

:host {
  &.admin {
    .toggle-input {
      .toggle-bullet {
        width: 10px;
        height: 10px;
        top: 5px;
        left: 5px;
        background-color: $color-grey-010;
      }
      .toggle-item {
        &.disabled {
          background-color: $color-success-020;
          opacity: calc(75%);
        }
        &.selected {
          background-color: $color-success-020;

          .toggle-bullet {
            left: 22px;
            top: 5px;
            background-color: $color-white;
          }
        }
      }
    }
    &:hover {
      .toggle-input {
        .toggle-item {
          background-color: $color-primary-010;
        }
      }
    }
  }
}
