<form [formGroup]="registerFormGroup">
  <h1>Register</h1>
  <a routerLink="/auth/login">Already have an account?</a>

  <cvz-input-group>
    <cvz-label>Full name</cvz-label>
    <cvz-input-text formControlName="fullName"> </cvz-input-text>
  </cvz-input-group>

  <cvz-input-group>
    <cvz-label>E-mail</cvz-label>
    <cvz-input-text formControlName="email" type="email"> </cvz-input-text>
  </cvz-input-group>

  <cvz-input-group>
    <cvz-label>Username</cvz-label>
    <cvz-input-text formControlName="username"> </cvz-input-text>
  </cvz-input-group>

  <cvz-input-group>
    <cvz-label>Password</cvz-label>
    <cvz-input-text formControlName="password" type="password"> </cvz-input-text>
  </cvz-input-group>

  <cvz-input-group>
    <cvz-label>Confirm password</cvz-label>
    <cvz-input-text formControlName="confirmPassword" type="password"> </cvz-input-text>
  </cvz-input-group>

  <cvz-checkbox formControlName="agreeTermsConditions">Agree with Terms & Conditions</cvz-checkbox>
  <cvz-checkbox formControlName="agreePolicyPrivacy">Agree with Policy & Privacy</cvz-checkbox>

  <cvz-button (click)="registerClicked()" [disabled]="!registerFormGroup.valid
                    || registerFormGroup.get('password')?.value !== registerFormGroup.get('confirmPassword')?.value"
                    class="width--full">
    Register
  </cvz-button>
</form>
