<form [formGroup]="registerFormGroup">
  <h1>Register</h1>
  <a routerLink="/auth/login">Already have an account?</a>
  <input formControlName="fullName" type="text" placeholder="Full name" />
  <input formControlName="email" type="text" placeholder="E-mail" />
  <input formControlName="username" type="text" placeholder="Username" />
  <input formControlName="password" type="password" placeholder="Password" />

  <fieldset>
    <legend>Gender:</legend>

    <div>
      <input type="radio" id="men" value="men" formControlName="gender">
      <label for="men">Men</label>
    </div>

    <div>
      <input type="radio" id="women" value="women" formControlName="gender">
      <label for="women">Women</label>
    </div>
  </fieldset>
  <cavelizer-button (click)="registerClicked()" class="width-full">Register</cavelizer-button>
</form>