<div *ngIf="product" class="product-item">
  <div class="image-container">
    <img [src]="product.mainImageBlobUrl | defaultImage" alt="">
    <cvz-tag *ngIf="discountedPrice" class="narrow">-{{ discountedPrice }}%</cvz-tag>
  </div>
  <div class="title">{{ product.title }}</div>
  <div class="description">{{ product.shortDescription }}</div>
  <div class="rating">
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-empty"></cvz-icon>
  </div>
  <div class="footer">
    <div *ngIf="discountedPrice" class="price">
      <span>{{ product.priceDiscounted }} USD</span>
      <div class="first-price">
        <s> <span>{{ product.price }}</span> </s>
      </div>
    </div>

    <div *ngIf="!discountedPrice" class="price">
      <span>{{ product.price }} USD</span>
    </div>

    <cvz-button class="small">Buy now</cvz-button>
  </div>
</div>

