@import 'colors';
@import 'variables';
@import 'mixins';

.product-item {
  width: 270px;
  padding: 16px;

  border: 1px solid $color-grey-050;
  border-radius: 12px;

  .image-container {
    position: relative;


    div {
      width: 240px;
      height: 180px;

      border-radius: $border-radius-xl;
      background-color: $color-grey-080;

      object-fit: contain;
      overflow: hidden;
    }

    cvz-tag {
      position: absolute;
      top: 12px;
      left: 20px;
    }
  }

  .title {
    margin-bottom: 4px;
    margin-top: 16px;

    @include default-poppins-text();
    font-size: 15px;
    font-weight: 500;

  }

  .description {
    margin-bottom: 14px;

    @include default-open-sans-text();
    font-size: 12px;
    color: $color-grey-010;
  }

  .rating {
    display: flex;
    gap: 6px;

    margin-top: 14px;
    margin-bottom: 18px;

    font-size: 16px;

    cvz-icon {
      color: $color-grey;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      @include default-poppins-text();
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;

      .first-price {
        @include default-poppins-text();
        font-weight: 600;
        color: $color-grey-050;

        span {
          font-size: 12px;
        }
      }
    }
  }
}
