<div class="product-item">
    <div class="image-container">
      <div ></div>
        <cvz-tag class="narrow">-38%</cvz-tag>
    </div>
    <div class="title">Product Title</div>
    <div class="description">Space for a small product description</div>
    <div class="rating">
        <cvz-icon name="star-full"></cvz-icon>
        <cvz-icon name="star-full"></cvz-icon>
        <cvz-icon name="star-full"></cvz-icon>
        <cvz-icon name="star-full"></cvz-icon>
        <cvz-icon name="star-empty"></cvz-icon>
    </div>
    <div class="footer">
        <div class="price"><span>1.48 USD</span>
            <div class="first-price"><s><span>48.56</span></s></div>
        </div>
        <cvz-button class="small">Buy now</cvz-button>
    </div>
</div>
