<div *ngIf="product" class="basket-item">
  <div class="item">
    <div class="img-container">
      <img [src]="product.mainImageBlobUrl | defaultImage" alt="">
    </div>
    <div class="row">
      <cvz-icon name="heart" class="small color-error"></cvz-icon>
      <span>Wishlist</span>
    </div>
    <div class="row">
      <cvz-icon name="compare" class="small color-error"></cvz-icon>
      <span>Compare</span>
    </div>
    <div class="row">
      <cvz-icon name="close" class="very-small"></cvz-icon>
      <span>Remove</span>
    </div>
  </div>
  <div class="details">
    <div class="title">{{product.title}}</div>
    <div class="properties">
      <ul class="label">
        <li>Farm:</li>
        <li>Freshness:</li>
      </ul>
      <ul>
        <li>Tharamis Farm</li>
        <li>1 day old</li>
      </ul>
    </div>
    <div class="rating">
      <cvz-icon name="star-full"></cvz-icon>
      <cvz-icon name="star-full"></cvz-icon>
      <cvz-icon name="star-full"></cvz-icon>
      <cvz-icon name="star-full"></cvz-icon>
      <cvz-icon name="star-empty"></cvz-icon>
    </div>
    <div class="buy-details">
      <div *ngIf="discountedPrice" class="price">
        <span class="price-actual">{{ product.priceDiscounted }} USD</span>
        <div>
          <s> <span class="price-old">{{ product.price }}</span> </s>
        </div>
      </div>
      <div class="number-pcs">
        <span class="number">1pcs</span>
        <div class="select-pcs">
          <span>Pcs</span>
          <cvz-icon name="arrow-down"></cvz-icon>
        </div>
      </div>
    </div>
  </div>
</div>
