<h1>CAVELIZER COMPONENTS</h1>
<mat-accordion>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <strong>cavelizer-button</strong>
            </mat-panel-title>
            <mat-panel-description>
                Creat de Sorin
            </mat-panel-description>
        </mat-expansion-panel-header>


        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius reprehenderit dolorum accusantium harum, esse
        aspernatur hic. Necessitatibus esse quis tempore reprehenderit mollitia facilis atque, maxime eaque quasi vitae
        minima ab!

    </mat-expansion-panel>

</mat-accordion>