<h1>CAVELIZER COMPONENTS</h1>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>cavelizer-button</strong>
      </mat-panel-title>
      <mat-panel-description> Creat de Sorin </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- TODO: Petrut replace all
            <i class="las la-angle-left" prefix></i>
            <i class="las la-angle-right" suffix></i> -->
    <div style="display: flex; gap: 16px; flex-direction: column">
      <!-- BUTOANE ALBE CU BORDURA VERDE -->
      <div style="display: flex; gap: 16px">
        <cavelizer-button class="white big">Submit cavelizer</cavelizer-button>
        <cavelizer-button class="white big">
          <i class="las la-angle-left" prefix></i>
          Submit cavelizer
        </cavelizer-button>
        <cavelizer-button class="white big">
          Submit cavelizer
          <i class="las la-angle-right" suffix></i>
        </cavelizer-button>
      </div>
      <div style="display: flex; gap: 16px">
        <cavelizer-button class="white">Submit cavelizer</cavelizer-button>
        <cavelizer-button class="white"><i class="las la-angle-left" prefix></i>Submit cavelizer </cavelizer-button>
        <cavelizer-button class="white"><i class="las la-angle-right" suffix></i>Submit cavelizer </cavelizer-button>
      </div>
      <div style="display: flex; gap: 16px">
        <cavelizer-button class="white small">Submit cavelizer</cavelizer-button>
        <cavelizer-button class="white small"><i class="las la-angle-left" prefix></i>Submit cavelizer </cavelizer-button>
        <cavelizer-button class="white small"><i class="las la-angle-right" suffix></i>Submit cavelizer </cavelizer-button>
      </div>

      <!-- BUTOANE VERZI / MAIN -->
      <div style="display: flex; gap: 16px">
        <cavelizer-button class="big">Submit cavelizer</cavelizer-button>
        <cavelizer-button class="big"><i class="las la-angle-left" prefix></i>Submit cavelizer </cavelizer-button>
        <cavelizer-button class="big"><i class="las la-angle-right" suffix></i>Submit cavelizer </cavelizer-button>
      </div>
      <div style="display: flex; gap: 16px">
        <cavelizer-button>Submit cavelizer</cavelizer-button>
        <cavelizer-button><i class="las la-angle-left" prefix></i>Submit cavelizer</cavelizer-button>
        <cavelizer-button><i class="las la-angle-right" suffix></i>Submit cavelizer</cavelizer-button>
      </div>
      <div style="display: flex; gap: 16px">
        <cavelizer-button class="small">Submit cavelizer</cavelizer-button>
        <cavelizer-button class="small"><i class="las la-angle-left" prefix></i>Submit cavelizer </cavelizer-button>
        <cavelizer-button class="small"><i class="las la-angle-right" suffix></i>Submit cavelizer </cavelizer-button>
      </div>

      <!-- BUTOANE GRI -->
      <div style="display: flex; gap: 16px">
        <cavelizer-button class="big grey">Submit cavelizer</cavelizer-button>
        <cavelizer-button class="big grey"><i class="las la-angle-left" prefix></i>Submit cavelizer </cavelizer-button>
        <cavelizer-button class="big grey"><i class="las la-angle-right" suffix></i>Submit cavelizer </cavelizer-button>
      </div>
      <div style="display: flex; gap: 16px">
        <cavelizer-button class="grey">Submit cavelizer</cavelizer-button>
        <cavelizer-button class="grey"><i class="las la-angle-left" prefix></i>Submit cavelizer </cavelizer-button>
        <cavelizer-button class="grey"><i class="las la-angle-right" suffix></i>Submit cavelizer </cavelizer-button>
      </div>
      <div style="display: flex; gap: 16px">
        <cavelizer-button class="small grey">Submit cavelizer</cavelizer-button>
        <cavelizer-button class="small grey"><i class="las la-angle-left" prefix></i>Submit cavelizer </cavelizer-button>
        <cavelizer-button class="small grey"><i class="las la-angle-right" suffix></i>Submit cavelizer </cavelizer-button>
      </div>

      <!-- BUTOANE TRANSPARENTE -->
      <div style="display: flex; gap: 16px">
        <cavelizer-button class="big transparent">Submit cavelizer</cavelizer-button>
        <cavelizer-button class="big transparent"><i class="las la-angle-left" prefix></i>Submit cavelizer </cavelizer-button>
        <cavelizer-button class="big transparent"><i class="las la-angle-right" suffix></i>Submit cavelizer</cavelizer-button>
      </div>
      <div style="display: flex; gap: 16px">
        <cavelizer-button class="transparent">Submit cavelizer</cavelizer-button>
        <cavelizer-button class="transparent"><i class="las la-angle-left" prefix></i>Submit cavelizer </cavelizer-button>
        <cavelizer-button class="transparent"><i class="las la-angle-right" suffix></i>Submit cavelizer </cavelizer-button>
      </div>
      <div style="display: flex; gap: 16px">
        <cavelizer-button class="small transparent">Submit cavelizer</cavelizer-button>
        <cavelizer-button class="small transparent"><i class="las la-angle-left" prefix></i>Submit cavelizer</cavelizer-button>
        <cavelizer-button class="small transparent"><i class="las la-angle-right" suffix></i>Submit cavelizer</cavelizer-button>
      </div>
    </div>
    <button class="margin: 30px;">Submit</button>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>cavelizer-mini-banner</strong>
      </mat-panel-title>
      <mat-panel-description> Creat de Mihai </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <cavelizer-mini-banner>
        <ng-container subtitle>Banner subfocus</ng-container>
        <ng-container title>Space for heading</ng-container>
        <ng-container action>Read recepies</ng-container>
      </cavelizer-mini-banner>
      <cavelizer-mini-banner>
        <ng-container subtitle> subfocus</ng-container>
        <ng-container title> heading</ng-container>
        <ng-container action>recepies</ng-container>
      </cavelizer-mini-banner>
    </div>
  </mat-expansion-panel>
</mat-accordion>
