<div *ngIf="contact" class="chat-contact-item">
  <div class="avatar">
    <cvz-avatar
      [name]="contact.fullName"
      [avatar]="contact?.avatarBlobUrl | defaultImage: true"
      [size]="54" class="circle pointer"></cvz-avatar>
    <span class="avatar-status online"></span>
  </div>
  <div class="info">
    <div class="info-name">{{contact.fullName}}</div>
    <div *ngIf="contact.lastMessage" class="info-last-message">{{contact.lastMessage | slice: 0: 30}} ...</div>
  </div>

  <div *ngIf="contact.lastMessageTime" class="last-message-time">{{contact.lastMessageTime | date: 'h:mm a'}}</div>
  <!--    TODO: Unread message bullet -->
  <!--  <span class="unread-message&#45;&#45;bullet"></span>-->
</div>
