<div *ngIf="contact" class="chat-contact-item">
  <div class="avatar">
    <img class="avatar-image" [src]="contact.avatarBlobUrl | defaultImage"/>
    <span class="avatar-status"></span>
  </div>
  <div class="info">
    <div class="info-name">{{contact.fullName}}</div>
    <div *ngIf="contact.lastMessage" class="info-last-message">{{contact.lastMessage | slice: 0: 30}} ...</div>
  </div>

  <div *ngIf="contact.lastMessageTime" class="last-message-time">{{contact.lastMessageTime | date: 'h:mm a'}}</div>
  <span class="unread-message--bullet"></span>
</div>
