@import 'colors';
$chat-bg-color: #eff2f4;
$chat-bg-color-hover: #deebfc;
$chat-bg-color-select: #eaf3ff;

:host {
  &.selected {
    .chat-contact-item {
      background-color: $chat-bg-color-select;

      &:hover {
        background-color: $chat-bg-color-hover;
      }
    }
  }
}

.chat-contact-item {
  position: relative;
  display: flex;

  background-color: $chat-bg-color;
  border-radius: 16px;
  padding: 18px;
  margin: 0 24px;

  width: 347px;
  max-width: 347px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $chat-bg-color;
  }

  .avatar {
    position: relative;
    width: 54px;
    height: 54px;
    margin-right: 16px;

    &-image {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &-status {
      position: absolute;
      bottom: 0px;
      right: 8px;
      width: 8px;
      height: 8px;
      z-index: 1;
      background-color: $color-grey;
      border-radius: 50%;

      &.online {
        background-color: $color-green;
      }

      &.offline {
        background-color: $color-grey;
      }

      &.away {
        background-color: $color-orange;
      }
    }
  }

  .info {
    display: flex;
    flex-direction: column;

    &-name {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
    }

    &-last-message {
      color: $color-grey-040;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .last-message-time {
    position: absolute;
    top: 18px;
    right: 18px;

    color: $color-grey-040;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }

  .unread-message--bullet {
    position: absolute;
    bottom: 16px;
    right: 16px;
    border-radius: 8px;
    width: 8px;
    height: 8px;
    background-color: $color-info-090;
  }
}
