<div *ngIf="currentUser$ | async as currentUser" class="profile">
    <div class="profile-header">
        <img class="profile-img"
             [src]=" currentUser?.avatarBlobUrl || 'https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1320751178?k=20&m=1320751178&s=612x612&w=0&h=qBg0zl3GQvll4dI5m0VDidziZN5VWnghNQ2rt-6aln0='">
        <h1>{{ currentUser?.fullName }}</h1>

    </div>
</div>

<nav mat-tab-nav-bar>
    <span mat-tab-link [routerLink]="['/user','profile']" routerLinkActive="active">Profile</span>
    <span mat-tab-link [routerLink]="['/user','personal-data']" routerLinkActive="active">Personal Data</span>
    <span mat-tab-link [routerLink]="['/user','hr-information']" routerLinkActive="active">HR Information</span>
    <span mat-tab-link [routerLink]="['/user','payroll-information']" routerLinkActive="active">Payroll
        Information</span>
    <span mat-tab-link [routerLink]="['/user','start-end-dates']" routerLinkActive="active">Start End Dates</span>
    <span mat-tab-link [routerLink]="['/user','clothes-sizes']" routerLinkActive="active">Clothes sizes</span>
    <span mat-tab-link [routerLink]="['/user','bank-details']" routerLinkActive="active">Bank details</span>
    <span mat-tab-link [routerLink]="['/user','emergency-contact']" routerLinkActive="active">Emergency contact</span>

</nav>
<router-outlet></router-outlet>
