<div class="bg-light border-bottom py--16 px--32 width--full justify--space-between align--center">
    <input class="width--320" type="text" placeholder="Search for ...">

  <div class="align--center">
    <i class="las la-cog fs--32 mr--40"></i>
    <i class="las la-bell fs--32 mr--40"></i>
    <span class="vertical-divider height--30"></span>

    <ng-container *ngIf="currentUser$ | async as currentUser">
      <span class="ml--32 mr--12 fs--14 text--bold pointer" [routerLink]="['/user/profile']">{{ currentUser.fullName }}</span>
      <img class="size--40 circle pointer" [routerLink]="['/user/profile']" [src]="currentUser?.avatarBlobUrl | defaultImage">
    </ng-container>
  </div>
</div>
