<div class="border-bottom py--16 px--32 width--full justify--space-between align--center">
  <cavelizer-input-group class="width--320">
    <cavelizer-text-input id="password" type="text" class="width--full" placeholder="Search for ..."></cavelizer-text-input>
  </cavelizer-input-group>

  <div class="align--center">
    <i class="las la-cog fs--32 mr--40"></i>
    <i class="las la-bell fs--32 mr--40"></i>
    <span class="vertical-divider height--30"></span>

    <ng-container *ngIf="currentUser$ | async as currentUser">
      <div class="flex--column align--end">
        <span class="ml--32 mr--12 fs--14 pointer" [routerLink]="['/dashboard/user/profile']">{{ currentUser.fullName }}</span>
        <span class="ml--32 mr--12 fs--14 text--bold pointer" [routerLink]="['/dashboard/user/profile']">{{ currentUser.username }}</span>
      </div>
      <img class="size--40 circle pointer"  [routerLink]="['/dashboard/user/profile']" [src]="currentUser?.avatarBlobUrl | defaultImage">
    </ng-container>
  </div>
</div>
