<div class="blog">
  <div class="gradient">
    <div class = "top">
      <cvz-tag class="narrow">Tag</cvz-tag>
    </div>
    <div class = "bottom">
      <div class="headline-text"> This is a space for your blog headline, it can be long don't worry about that</div>
      <div class="under-text">
        <div class="avatar-image"></div>
        <span class="author">Author</span>
        <span class="date">20.02.2020</span>
      </div>
    </div>
  </div>
  <ng-content select="[title-blog]"></ng-content>
</div>


