@import 'colors';

:host {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;

  &.vertical {
    flex-direction: column;
  }

  &.bordered {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 50px;
    padding: 8px 12px;
    border: 1px solid $color-grey-090;
    border-radius: 12px;
    background-color: $color-grey-080;
  }
}
