<div class="sidenav" [class.isExpanded]="isExpanded">
  <h1 *ngIf="isExpanded">cavelizer</h1>
  <h1 *ngIf="!isExpanded">c</h1>

  <!-- Profile -->
  <div *ngIf="currentUser$ | async as currentUser" [routerLink]="['/user/profile']" class="profile">
    <img class="profile-img"
      [src]=" currentUser?.avatarBlobUrl || 'https://media.istockphoto.com/vectors/profile-placeholder-image-gray-silhouette-no-photo-vector-id1320751178?k=20&m=1320751178&s=612x612&w=0&h=qBg0zl3GQvll4dI5m0VDidziZN5VWnghNQ2rt-6aln0='">
    <div *ngIf="isExpanded" class="profile-info">
      <span>{{ currentUser.fullName }}</span>
      <strong>Profile</strong>
    </div>
  </div>

  <span (click)="isExpanded = !isExpanded" class="sidenav--menu-toggle">
    <i *ngIf="isExpanded" class="las la-angle-left"></i>
    <i *ngIf="!isExpanded" class="las la-angle-right"></i>
  </span>

  <ul>
    <li  [routerLink]="['/store']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="las la-store-alt"></i>
      <span>Go to store</span>
    </li>

    <li [routerLink]="['/dashboard', 'panel']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="las la-desktop"></i>
      <span>Dashboard</span>
    </li>

    <li [routerLink]="['/dashboard', 'users']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="las la-user-friends"></i>
      <span>Users</span>
    </li>

    <li [routerLink]="['/dashboard', 'products']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="las la-shopping-bag"></i>
      <span>Products</span>
    </li>

    <li [routerLink]="['/dashboard', 'roles']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="las la-id-badge"></i> <span>Roles</span>
    </li>

    <li [routerLink]="['/dashboard', 'permissions']" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <i class="las la-user-shield"></i>
      <span>Permissions</span>
    </li>

    <li [routerLink]="['/dashboard', 'categories']" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <i class="las la-list"></i>
      <span>Categories</span>
    </li>

    <li [routerLink]="['/dashboard', 'docs']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="las la-book"></i>
      <span>Documentation</span>
    </li>

    <li [routerLink]="['/dashboard', 'cavelizer-components']" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      <i class="las la-shapes"></i>
      <span>Components</span>
    </li>



    <li (click)="logout()" class="logout">
      <i class="las la-power-off"></i>
      <span>Logout</span>
    </li>
  </ul>
</div>
