<div [class.toggle-expanded]="isExpanded" class="sidenav">
  <h1 *ngIf="isExpanded" [routerLink]="['/dashboard', 'panel']" class="cavelizer-title">cavelizer</h1>
  <h1 *ngIf="!isExpanded" [routerLink]="['/dashboard', 'panel']" class="cavelizer-title">c</h1>

  <span class="sidenav--menu-toggle">
    <cvz-icon
      (click)="isExpanded = !isExpanded"
      [name]="isExpanded ? 'arrow-left' : 'arrow-right'"
      class="color-white toggle-btn"></cvz-icon>
  </span>

  <div class="menu">
    <div
      *ngFor="let sidenavItem of sidenav"
      [class.has-children]="sidenavItem | sidenavItemHasChildren"
      [class.submenu-expanded]="sidenavItem.isSubmenuExpanded"
      class="menu-item">
      <div (click)="toggleSidenav(sidenavItem)"
           [caveTooltip]="isExpanded ? '' : sidenavItem.name"
           [routerLinkActiveOptions]="{ exact: true }"
           [routerLink]="sidenavItem.pathUrl"
           class="menu-item--link"
           placement="right"
           routerLinkActive="active">
        <i [ngClass]="sidenavItem.icon"></i>
        <span>{{sidenavItem.name}}</span>
        <cvz-icon class="color-white" name="arrow-left"></cvz-icon>
      </div>

      <div [style.height]="sidenavItem | sidenavSubmenuHeight"
           class="sub-menu"
      >
        <div *ngFor="let subSidenavItem of sidenavItem.submenus"
             [caveTooltip]="isExpanded ? '' : subSidenavItem.name"
             [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="subSidenavItem.pathUrl"
             class="menu-item--link"
             placement="right"
             routerLinkActive="active">
          <i [ngClass]="subSidenavItem.icon"></i>
          <span>{{subSidenavItem.name}}</span>
        </div>
      </div>
    </div>

    <div (click)="logout()" class="menu-item">
      <div class="menu-item--link">
        <i class="las la-power-off"></i>
        <span>Logout</span>
      </div>
    </div>
  </div>
</div>
