:host {
  position: relative;
  margin: 0 44px;

  ul.breadcrumb-component {
    padding: 0;
    background: no-repeat;
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0 4px;

    li {
      display: inline;
      font-size: 14px;
      font-weight: 400;
      color: #a9a9a9;

      word-break: break-all;

      &.active {
        color: #151515;
      }

      a {
        font-size: 14px;
        font-weight: 400;
        color: grey;
        text-decoration: none;
        box-shadow: none;
        outline: none;
      }
    }

    li + li:before {
      content: ' / ';
      color: #a9a9a9;
    }
  }

  &.white-transparent {
    display: block;

    ul.breadcrumb-component {
      background-color: transparent;

      li.active,
      li:before,
      a {
        color: white !important;
      }
    }
  }
}
