
:host {
  position: relative;

  ul.breadcrumb-component {
    padding: 0;
    background: no-repeat;
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0 4px;

    li {
      font-size: 14px;
      font-weight: 400;
      display: inline;
      color: lightgrey;

      word-break: break-all;

      &.active {
        color: black;
      }

      a {
        color: grey;
        text-decoration: none;
        box-shadow: none;
        outline: none;
      }
    }

    li + li:before {
      content: ' > ';
      color: grey;
    }
  }

  &.white-transparent {
    display: block;

    ul.breadcrumb-component {
      background-color: transparent;

      li.active,
      li:before,
      a {
        color: white !important;
      }
    }
  }
}
