<div *ngIf="currentUser$ | async as currentUser" class="profile">
  <div class="profile-header">
    <input #uploadInputRef (change)="handleFileInput($event.target)"
           class="avatar-input"
           accept="image/jpeg"
           id="file"
           type="file">
    <cvz-avatar
      (avatarClicked)="uploadInputRef.click()"
      [size]="120"
      [name]="currentUser.fullName"
      [avatar]="currentUser?.avatarBlobUrl | defaultImage: true"
      [editable]="true"
      class="editable circle"></cvz-avatar>
    <cvz-button *ngIf="currentUser.avatarBlobUrl" (click)="removeAvatarClicked()" class="grey small">
      <!--      TODO: Petrut Icon replace-->
      <cvz-icon name="delete"></cvz-icon> Remove avatar
    </cvz-button>
    <h1 class="mb--0">{{ currentUser?.fullName }}</h1>
    <h2>{{ currentUser?.username }}</h2>
  </div>
</div>

<ng-container *ngIf="profileService.profile">
  <nav class="justify--center" mat-tab-nav-bar>
    <span [routerLink]="['/dashboard','user','profile']" mat-tab-link routerLinkActive="active">Profile</span>
    <span [routerLink]="['/dashboard','user','personal-mock']" mat-tab-link
          routerLinkActive="active">Personal Data</span>
    <span [routerLink]="['/dashboard','user','hr-information']" mat-tab-link
          routerLinkActive="active">HR Information</span>
    <span [routerLink]="['/dashboard','user','payroll-information']" mat-tab-link routerLinkActive="active">Payroll Information</span>
    <span [routerLink]="['/dashboard','user','start-end-dates']" mat-tab-link
          routerLinkActive="active">Start End Dates</span>
    <span [routerLink]="['/dashboard','user','clothes-sizes']" mat-tab-link
          routerLinkActive="active">Clothes sizes</span>
    <span [routerLink]="['/dashboard','user','bank-details']" mat-tab-link
          routerLinkActive="active">Bank details</span>
    <span [routerLink]="['/dashboard','user','emergency-contact']" mat-tab-link routerLinkActive="active">Emergency contact</span>
  </nav>
  <router-outlet></router-outlet>
</ng-container>
