<form [formGroup]="forgotPasswordFormGroup">
  <h1>Forgot your password</h1>

  <div class="flex--column align--start ">
    <label class="mr--16 text--bold" for="emailOrUsername">E-mail or Username</label>
    <cavelizer-input-group class="width--full">
      <cavelizer-text-input class="width--full" formControlName="emailOrUsername" id="emailOrUsername"
                            placeholder="E-mail or Username"
                            type="text"></cavelizer-text-input>
    </cavelizer-input-group>
  </div>

  <a routerLink="/auth/login">Already have an account?</a>

  <cavelizer-button (click)="forgoPasswordClicked()" [attr.disabled]="forgotPasswordFormGroup.valid || null"
                    class="width--full">Forgot password
  </cavelizer-button>
</form>
