@import 'variables';
@import 'colors';
@import 'mixins';

.blog-vertical {
  width: 270px;

  .image-blog {
    height: 180px;
    border-radius: $border-radius-xl;
    background-color: $color-grey-070;
  }

  .text {
    @include default-poppins-text();
    font-size: 18px;
    line-height: 27px;
    color: $color-black;
  }

  .footer {
    display: flex;
    padding: 16px 0;
    @include default-open-sans-text();
    line-height: 16px;
    color: $color-black;
  }
}
