<div class="flex justify--center">
  <form [formGroup]="userPersonalDataFormGroup" class="flex--column mt--40 gap--8">
    <div>
      <label class="mr--16" for="street">Street</label>
      <input formControlName="street" id="street" type="text"/>
    </div>

    <div>
      <label class="mr--16" for="houseNumber">House Number</label>
      <input formControlName="houseNumber" id="houseNumber" type="number"/>
    </div>

    <div>
      <label class="mr--16" for="zipCode">Zip Code</label>
      <input formControlName="zipCode" id="zipCode" type="text"/>
    </div>

    <div>
      <label class="mr--16" for="city">City</label>
      <input formControlName="city" id="city" type="text"/>
    </div>

    <div>
      <label class="mr--16" for="phoneNumber">Phone Number</label>
      <input formControlName="phoneNumber" id="phoneNumber" type="text"/>
    </div>

    <div>
      <label class="mr--16" for="validityIdentityCard">Validity Identity Card</label>
      <input formControlName="validityIdentityCard" id="validityIdentityCard" type="date"/>
    </div>

    <div>
      <label class="mr--16" for="privateEmail">Private Email</label>
      <input formControlName="privateEmail" id="privateEmail" type="email"/>
    </div>
    <cavelizer-button (click)="onSavePersonalData()">Save</cavelizer-button>
  </form>
</div>
