<div class="flex--column pl--8">
  <div class="justify--space-between align--center px--24 pt--32">
    <span class="text--light">CONTACTS</span>

    <span>
      <!--    TODO: Add new conversation-->
      <cvz-icon name="plus-circle"></cvz-icon>
    </span>
  </div>

  <div class="contacts-scroll flex--column gap--12 mt--32 pt--8">
    <app-chat-contact-item
      (click)="contactSelectionChange.emit(i)"
      *ngFor="let contact of contacts; let i = index; trackBy: trackByFn" [class.selected]="selectedContactIndex === i"
      [contact]="contact"
    ></app-chat-contact-item>
  </div>
</div>
