<div class="row">
  <cvz-checkbox></cvz-checkbox>
  <div class="row-stars">
    <cvz-icon name="star-full" class="black"></cvz-icon>
    <cvz-icon name="star-full" class="black"></cvz-icon>
    <cvz-icon name="star-full" class="black"></cvz-icon>
    <cvz-icon name="star-full" class="black"></cvz-icon>
    <cvz-icon name="star-full" class="black"></cvz-icon>
  </div>
</div>
<div class="row">
  <cvz-checkbox></cvz-checkbox>
  <div class="row-stars">
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-empty"></cvz-icon>
  </div>
</div>
<div class="row">
  <cvz-checkbox></cvz-checkbox>
  <div class="row-stars">
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-empty"></cvz-icon>
    <cvz-icon name="star-empty"></cvz-icon>
  </div>
</div>
<div class="row">
  <cvz-checkbox></cvz-checkbox>
  <div class="row-stars">
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-empty"></cvz-icon>
    <cvz-icon name="star-empty"></cvz-icon>
    <cvz-icon name="star-empty"></cvz-icon>
  </div>
</div>
<div class="row">
  <cvz-checkbox></cvz-checkbox>
  <div class="row-stars">
    <cvz-icon name="star-full"></cvz-icon>
    <cvz-icon name="star-empty"></cvz-icon>
    <cvz-icon name="star-empty"></cvz-icon>
    <cvz-icon name="star-empty"></cvz-icon>
    <cvz-icon name="star-empty"></cvz-icon>
  </div>
</div>
