@import 'colors';

:host {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.row {
  display: flex;
  align-items: center;
  gap: 10px;

  &-stars {
    display: flex;
    align-items: center;
    gap: 4px;

    cvz-icon[name="star-full"] {
      fill: gold;

      &.black {
        fill: $color-black;
      }
    }

    cvz-icon[name="star-empty"] {
      fill: $color-grey-060;
    }
  }
}
