<form [formGroup]="loginFormGroup">
  <h1>Login</h1>

  <a routerLink="/auth/register">You don't have an account? Create one!</a>

  <cvz-input-group>
    <cvz-label>Username</cvz-label>
    <cvz-input-text formControlName="username"> </cvz-input-text>
  </cvz-input-group>

  <cvz-input-group>
    <cvz-label>Password</cvz-label>
    <cvz-input-text formControlName="password" type="password"> </cvz-input-text>
  </cvz-input-group>

  <a routerLink="/auth/forgot-password">Forgot your password!</a>

  <cvz-button (click)="loginClicked()" [disabled]="!loginFormGroup.valid" class="width--full">Login</cvz-button>
</form>
