<div class="user-list">
  <div class="filters">
    <div class="filter">
      <div class="search filter-item">
        <cvz-icon name="search"></cvz-icon>
        <input placeholder="Search for..."/>
      </div>
      <div class="filter-item">
        <input placeholder="Plug & Play"/>
        <cvz-icon name="key"></cvz-icon>
      </div>
      <div class="filter-item">
        <input placeholder="Employee"/>
        <cvz-icon name="user"></cvz-icon>
      </div>
      <div class="filter-item">
        <input placeholder="Status"/>
        <cvz-icon name="edit"></cvz-icon>
      </div>
      <div class="filter-item">
        <input placeholder="Type"/>
        <cvz-icon name="facebook"></cvz-icon>
      </div>
    </div>

    <div class="sort-by">
      <div class="filter-item">
        <input placeholder="Sort by"/>
        <cvz-icon name="arrow-down"></cvz-icon>
      </div>
      <cvz-icon name="download"></cvz-icon>
    </div>
  </div>
  <div class="table mt--26">
    <div class="row table-head">
      <div class="cell width--50">
        <cvz-checkbox></cvz-checkbox>
      </div>
      <div class="cell p--0"></div>
      <div class="cell pl--24">Full name / username</div>
      <div class="cell">Assigned to</div>
      <div class="cell">Last Transcation</div>
      <div class="cell">Status</div>
      <div class="cell">End date</div>
      <div class="cell">Total Used</div>
      <div class="cell"></div>
    </div>
    <ng-container *ngIf="users$ | async  as users">
      <div *ngFor="let user of users" class="row">
        <div class="cell width--50">
          <cvz-checkbox></cvz-checkbox>
        </div>

        <div class="cell p--0">
          <img class="justify--center size--50 circle" [src]="'' | defaultImage" alt="">
        </div>

        <div class="cell pl--24">
          <div class="flex--column">
            <label>{{ user.fullName }}</label>
            <span>{{ user.username }}</span>
          </div>
        </div>

        <div class="cell">
          <div class="flex--column">
            <label>Visa</label>
            <span>***** 2468</span>
          </div>
        </div>
        <div class="cell">
          <div class="flex--column">
            <label>Itai Bracha</label>
            <span>Itai Bracha31@gmail.com</span>
          </div>
        </div>
        <div class="cell">
          <div class="flex--column">
            <label>Jan 2,2022</label>
            <span>$783.22</span>
          </div>
        </div>
        <div class="cell">
          <div class="flex">
            <div class="bullet"></div>
            <span class="status">Done</span>
          </div>
        </div>
        <div class="cell">
          <label>Jan 2,2022</label>
        </div>
        <div class="cell">
          <div class="align--center">
            <span class="fw--500 mr--60 money-used">$783.22</span>
          </div>
        </div>

        <div class="cell">
          <div class="justify--end">
            <cvz-icon name="more-vertical"></cvz-icon>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>




