<h1>USERS LIST</h1>

<div class="user-list mt--60">
  <div class="filters">
    <div class="filters-specified">
      <div class="search filters-specified-item">
        <cvz-icon name="search"></cvz-icon>
        <span>Search for...</span>
      </div>
      <div class="filters-specified-item">
        <span>Plug & Pay</span>
        <cvz-icon name="key"></cvz-icon>
      </div>
      <div class="filters-specified-item">
        <span>Employee</span>
        <cvz-icon name="user"></cvz-icon>
      </div>
      <div class="filters-specified-item">
        <span>Status</span>
        <cvz-icon name="edit"></cvz-icon>
      </div>
      <div class="filters-specified-item">
        <span>Type</span>
        <cvz-icon name="facebook"></cvz-icon>
      </div>
    </div>
    <div class="sort-by">
      <div class="filters-specified-item">
        <span>Sort by</span>
        <cvz-icon name="arrow-down"></cvz-icon>
      </div>
      <cvz-icon name="download"></cvz-icon>
    </div>
  </div>
  <div class="table mt--26">
    <div class="row table-head">
      <div class="cell">
        <div class="cell-content">
          <div class="check-filter">
            <cvz-checkbox></cvz-checkbox>
            <span>Name</span>
          </div>
        </div>
      </div>
      <div class="cell">Card</div>
      <div class="cell">Assigned to</div>
      <div class="cell">Last Transcation</div>
      <div class="cell">Status</div>
      <div class="cell">End date</div>
      <div class="cell">Total Used</div>
    </div>
    <div class="row">
      <div class="cell">
        <div class="cell-content  flex">
          <div class="check-filter ">
            <cvz-checkbox></cvz-checkbox>
            <img src="../../../assets/default-avatar.jpeg" alt="">
          </div>
          <div class="flex--column">
            <span class="label">Figma</span>
            <span>https://www.figma.com/</span>
          </div>
        </div>
      </div>
      <div class="cell test">
        <div class="flex--column">
          <span class="label">Visa</span>
          <span>***** 2468</span>
        </div>
      </div>
      <div class="cell">
        <div class="flex--column">
          <span class="label">Itai Bracha</span>
          <span>Itai Bracha31@gmail.com</span>
        </div>
      </div>
      <div class="cell">
        <div class="flex--column">
          <span class="label">Jan 2,2022</span>
          <span>$783.22</span>
        </div>
      </div>
      <div class="cell">
        <div class="flex">
          <cvz-radio-group [(ngModel)]="gender">
            <cvz-radio-item [value]="false" [isActive]="false"></cvz-radio-item>
          </cvz-radio-group>
          <span class="status">Done</span>
        </div>
      </div>
      <div class="cell">
        <span class="label">Jan 2,2022</span>
      </div>
      <div class="cell">
        <div class="flex align--center mr--0">
          <span class="fw--500 mr--60 money-used">$783.22</span>
          <cvz-icon name="more-vertical"></cvz-icon>
        </div>
      </div>
    </div>
    <div class="row mt--20">
      <div class="cell">
        <div class="cell-content  flex">
          <div class="check-filter ">
            <cvz-checkbox></cvz-checkbox>
            <img src="../../../assets/default-avatar.jpeg" alt="">
          </div>
          <div class="flex--column">
            <span class="label">Figma</span>
            <span>https://www.figma.com/</span>
          </div>
        </div>
      </div>
      <div class="cell test">
        <div class="flex--column">
          <span class="label">Visa</span>
          <span>***** 2468</span>
        </div>
      </div>
      <div class="cell">
        <div class="flex--column">
          <span class="label">Itai Bracha</span>
          <span>Itai Bracha31@gmail.com</span>
        </div>
      </div>
      <div class="cell">
        <div class="flex--column">
          <span class="label">Jan 2,2022</span>
          <span>$783.22</span>
        </div>
      </div>
      <div class="cell">
        <div class="flex">
          <cvz-radio-group [(ngModel)]="gender">
            <cvz-radio-item [value]="false" [isActive]="false"></cvz-radio-item>
          </cvz-radio-group>
          <span class="status">Done</span>
        </div>
      </div>
      <div class="cell">
        <span class="label">Jan 2,2022</span>
      </div>
      <div class="cell">
        <div class="flex align--center mr--0">
          <span class="fw--500 mr--60 money-used">$783.22</span>
          <cvz-icon name="more-vertical"></cvz-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<pre *ngIf="users$ | async  as users">
  <div *ngFor="let user of users">
    <pre>{{ user | json }}</pre>
  </div>
</pre>


