@import 'variables';
@import 'colors';
@import 'mixins';

button {
  /* Reset */
  @include disable-select;
  outline: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;

  padding: 12px 16px;

  color: $color-white;
  font-size: 15px;
  font-weight: 600;

  background-color: $color-primary;
  border: 2px solid $color-primary-010;
  border-radius: $border-radius-md;

  .prefix,
  .suffix {
    color: $color-white;
  }

  .prefix {
    margin-right: 4px;
  }

  .suffix {
    margin-left: 4px;
  }
}

:host {
  &.white {
    button {
      border-color: $color-grey;
      color: $color-black;
      background-color: $color-white;

      .prefix,
      .suffix {
        color: $color-primary-040;
      }
    }
  }

  &.small {
    button {
      padding: 6px 12px;
    }
  }

  &.big {
    button {
      padding: 16px 48px;
      font-size: 22px;
    }
  }

  &.grey {
    button {
      border-color: $color-grey-070;
      background-color: $color-grey-070;
      color: $color-black;

      .prefix,
      .suffix {
        color: $color-black;
      }
    }
  }

  &.transparent {
    button {
      border-color: transparent;
      background-color: transparent;
      color: $color-black;

      .prefix,
      .suffix {
        color: $color-black;
      }
    }
  }

  &.width--full {
    button {
      width: 100%;
    }
  }
}
