@import 'colors';
@import 'variables';

.text-input {
  display: inline-flex;
  border: 1px solid $color-grey-030;
  border-radius: $border-radius-md !important;

  margin-right: 8px;
  width: 100%;

  input {
    width: 100%;
    height: 45px;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 400;
    color: $color-black;
    border: none;
    border-radius: $border-radius-md !important;
    background-color: $color-white;

    &::-webkit-input-placeholder {
      font-size: 16px;
      font-weight: 400;
      color: $color-black;
    }

    &::-moz-placeholder {
      font-size: 16px;
      font-weight: 400;
      color: $color-black;
    }

    &:-ms-input-placeholder {
      font-size: 16px;
      font-weight: 400;
      color: $color-black;
    }

    &:-moz-placeholder {
      font-size: 16px;
      font-weight: 400;
      color: $color-black;
    }

    &:focus {
      &::placeholder {
        color: $color-black;
      }
    }

    &.ng-invalid.ng-touched {
      border-color: $color-red;
    }

    .validation-message {
      height: 20px;
      width: 100%;
    }
  }
}

:host(.normal) {
  input {
    height: 40px !important;
    line-height: 40px !important;
  }
}

:host(.small) {
  input {
    height: 35px !important;
    line-height: 35px !important;
  }
}

:host(.huge-text-container) {
  input {
    font-size: 22px;
    font-weight: 600;

    &::-webkit-input-placeholder {
      font-size: 22px;
      font-weight: 600;
    }

    &::-moz-placeholder {
      font-size: 22px;
      font-weight: 600;
    }

    &:-ms-input-placeholder {
      font-size: 22px;
      font-weight: 600;
    }

    &:-moz-placeholder {
      font-size: 22px;
      font-weight: 600;
    }
  }
}
