<div class="flex justify--center">
  <form [formGroup]="userPayrollInformationFormGroup" class="flex--column mt--40 gap--8">
    <div>
      <label class="mr--16" for="levelOfEducation">Level of Education</label>
      <select name="" id="levelOfEducation" formControlName="levelOfEducation">
        <option value="primary_school">Primary</option>
        <option value="high_school">High School</option>
        <option value="faculy">Faculty</option>
      </select>
    </div>

    <div>
      <label class="mr--16" for="salaryType">Salary Type</label>
      <select name="" id="salaryType" formControlName="salaryType">
        <option value="fixed">Fixed</option>
        <option value="flexible">Flexible</option>
      </select>
    </div>

    <div>
      <label class="mr--16" for="typeOfHealthInsurance">Type of Health Insurance</label>
      <select name="" id="typeOfHealthInsurance" formControlName="typeOfHealthInsurance">
        <option value="private">Private</option>
        <option value="public">Public</option>
      </select>
    </div>

    <div>
      <label class="mr--16" for="religion">Religion</label>
      <select name="" id="religion" formControlName="religion">
        <option value="ortodox">Ortodox</option>
        <option value="catolic">Catolic</option>
      </select>
    </div>

    <div>
      <label class="mr--16" for="cnp">CNP</label>
      <input id="cnp" type="string" formControlName="cnp" />
    </div>

    <div>
      <label class="mr--16" for="healthInsurance">Health Insurance</label>
      <input id="healthInsurance" type="string" formControlName="healthInsurance" />
    </div>

    <cavelizer-button (click)="onSavePayrollInformation()"> Save</cavelizer-button>
  </form>
</div>
