<div class="flex justify--center">
  <form [formGroup]="userPayrollInformationFormGroup" class="flex--column mt--40 gap--8">
    <div>
      <label class="mr--16" for="levelOfEducation">Level of Education</label>
      <select formControlName="levelOfEducation" id="levelOfEducation" name="">
        <option value="primary_school">Primary</option>
        <option value="high_school">High School</option>
        <option value="faculy">Faculty</option>
      </select>
    </div>

    <div>
      <label class="mr--16" for="salaryType">Salary Type</label>
      <select formControlName="salaryType" id="salaryType" name="">
        <option value="fixed">Fixed</option>
        <option value="flexible">Flexible</option>
      </select>
    </div>

    <div>
      <label class="mr--16" for="typeOfHealthInsurance">Type of Health Insurance</label>
      <select formControlName="typeOfHealthInsurance" id="typeOfHealthInsurance" name="">
        <option value="private">Private</option>
        <option value="public">Public</option>
      </select>
    </div>

    <div>
      <label class="mr--16" for="religion">Religion</label>
      <select formControlName="religion" id="religion" name="">
        <option value="ortodox">Ortodox</option>
        <option value="catolic">Catolic</option>
      </select>
    </div>

    <div>
      <label class="mr--16" for="cnp">CNP</label>
      <input formControlName="cnp" id="cnp" type="string"/>
    </div>

    <div>
      <label class="mr--16" for="healthInsurance">Health Insurance</label>
      <input formControlName="healthInsurance" id="healthInsurance" type="string"/>
    </div>

    <cavelizer-button (click)="onSavePayrollInformation()"> Save</cavelizer-button>
  </form>
</div>
