<div class="subtitle empty">
  <ng-content select="[subtitle]"></ng-content>
</div>
<div class="title empty">
  <ng-content select="[title]"></ng-content>
</div>
<div class="action empty">
  <cvz-button class="small">
    <ng-content select="[action]"></ng-content>
    <i class="las la-angle-right"></i>
  </cvz-button>
</div>

<!--<ng-container *ngIf="banner">-->
<!--  <div *ngIf="banner.subtitle" class="subtitle empty"> {{ banner.subtitle }} </div>-->
<!--  <div class="title empty"> {{ banner.title }} </div>-->
<!--  <div class="action empty">-->
<!--    <cvz-button class="small">-->
<!--      {{ banner.button}}-->
<!--      <i class="las la-angle-right" suffix></i>-->
<!--    </cvz-button>-->
<!--  </div>-->
<!--</ng-container>-->
