@import 'variables';
@import 'colors';

:host {
  display: flex;
  flex-direction: column;
  width: 390px;
  max-height: 280px;
  padding: 48px 32px 32px;
  margin: 16px;
  background-image: url('/assets/mini-banner-bg.png');
  background-size: cover;
  background-position: center;
  border-radius: $border-radius-xl;

  .subtitle {
    margin-bottom: 20px;

    color: $color-primary;
    font-size: 12px;
    font-weight: 600;
  }

  .title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 100px;
  }
}
