@import '../_colors.scss';

cavelizer-icon {
  /* Default */
  svg {
    width: 24px;
    height: 24px;
  }

  /* Sizes */
  &.small {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.big {
    svg {
      width: 32px;
      height: 32px;
    }
  }

  &.xl {
    svg {
      width: 64px;
      height: 64px;
    }
  }


  &.xxl {
    svg {
      width: 128px;
      height: 128px;
    }
  }

  /* Colors */
  &.primary-color {
    svg {
      path {
        fill: $primary-color;
      }
    }
  }

  &.warning-color {
    svg {
      path {
        fill: $warning-color;
      }
    }
  }

  &.error-color {
    svg {
      path {
        fill: $error-color;
      }
    }
  }

  &.info-color {
    svg {
      path {
        fill: $info-color;
      }
    }
  }

  &.white-color {
    svg {
      path {
        fill: $white-color;
      }
    }
  }
}
