@import './colors';
@import './variables';

/* Bar */
.ngx-slider-bar {
  background-color: #ebebeb !important;
}

.ngx-slider-selection {
  background: #6a983c !important;
}

/* Dot */
.ngx-slider-pointer {
  &.ngx-slider-pointer-min,
  &.ngx-slider-pointer-max {
    top: -10px !important;
    width: 20px !important;
    height: 20px !important;

    background: #ffffff !important;
    border: 1px solid #d1d1d1 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.15) !important;

    &:after {
      content: unset !important;
    }
  }
}

.ngx-slider-bubble {
  visibility: hidden !important;
}
