@import 'main';
@import '~@angular/cdk/overlay-prebuilt.css';

* {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #F9F9F9;
}

.mat-drawer-content {
  overflow-y: overlay !important;
}

mat-drawer-container {
  height: 100vh;
  transition: width 0.3s ease-in-out;
}

.mat-tab-links {
  justify-content: center;
}

.mat-tab-link {
  border-bottom: 5px solid transparent;
  transition: all 0.4s ease-in-out;
  &.active {
    border-bottom: 5px solid #46760a !important;
  }
}

mat-panel-title,
mat-panel-description {
  user-select: none;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

a {
  color: #6a983c;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

.shortcut-dashboard-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.shortcut-login-btn {
  position: fixed;
  bottom: 35px;
  right: 0;
  z-index: 999;
}

i {
  color: #4b5563;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: black;
  }

  &.big {
    font-size: 32px;
  }
}
