* {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

mat-drawer-container {
  height: 100vh;
  transition: width 0.3s ease-in-out;
}

.mat-tab-links {
  justify-content: center;
}

.mat-tab-link {
  border-bottom: 5px solid transparent;
  transition: all 0.4s ease-in-out;
  &.active {
    border-bottom: 5px solid blue !important;
  }
}
