@import 'colors';
@import 'variables';
$green-text: #3b6a58;
$green-border: #dff5ea;

.chip {
  border: 2px solid rgba($green-text, 0.3);
  color: $green-text;
  background-color: transparent;
  padding: 4px 8px;
  display: inline-flex;
  border-radius: 4px;
}

:host {
  &.error {
    .chip {
      border-color: red;
      color: red;
    }

    &.fill {
      .chip {
        background-color: darkred;
      }
    }
  }
}
