<div *ngIf="receiver" class="chat-text-box b-radius--20 width--full p--16 pr--24 justify--space-between">
  <cvz-avatar
    [name]="receiver.fullName"
    [avatar]="receiver.avatarBlobUrl | defaultImage: true"
    [size]="54" class="avatar circle"></cvz-avatar>
  <input (keydown)="isTyping()"
         (keyup.enter)="sendMessage()" [(ngModel)]="message"
         class="chat-text-box--message" name="message" placeholder="Write your message..." type="text">
  <div class="align--center gap--32">
    <!--      <i-->
    <!--        (click)="toggled = !toggled"-->
    <!--        [(emojiPickerIf)]="toggled"-->
    <!--        [emojiPickerDirection]="'top'"-->
    <!--        (emojiPickerSelect)="handleSelection($event)"-->
    <!--        class="fs&#45;&#45;24 text&#45;&#45;normal pointer"-->
    <!--      >😍</i>-->
    <i class="text--normal pointer fs--24">😍</i>
    <i class="las la-link color--grey fs--24"></i>
  </div>
</div>
