@import 'colors';
$chat-bg-color: #eff2f4;

:host {
  padding-left: 44px;
  margin-right: 32px;
}

.chat-text-box {
  background: $chat-bg-color;

  &--message {
    width: 100%;
    margin: 0 16px;
    background: transparent;
    border: none;
    outline: none;
  }
}

.avatar {
  position: relative;
  width: 54px;
  height: 54px;
  margin-right: 16px;

  &-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &-status {
    position: absolute;
    bottom: 0px;
    right: 8px;
    width: 8px;
    height: 8px;
    z-index: 1;
    background-color: $color-grey;
    border-radius: 50%;

    &.online {
      background-color: $color-green;
    }

    &.offline {
      background-color: $color-grey;
    }

    &.away {
      background-color: $color-orange;
    }
  }
}
