<div *ngIf="receiver" class="chat-text-box b-radius--20 width--full p--16 pr--24 justify--space-between">
  <img class="size--46 circle" [src]="receiver.avatarBlobUrl | defaultImage">
  <input (keyup.enter)="sendMessage()"
         (keydown)="isTyping()" name="message"
         [(ngModel)]="message" class="chat-text-box--message" type="text" placeholder="Write your message...">
  <div class="align--center gap--32">
<!--      <i-->
<!--        (click)="toggled = !toggled"-->
<!--        [(emojiPickerIf)]="toggled"-->
<!--        [emojiPickerDirection]="'top'"-->
<!--        (emojiPickerSelect)="handleSelection($event)"-->
<!--        class="fs&#45;&#45;24 text&#45;&#45;normal pointer"-->
<!--      >😍</i>-->
    <i class="text--normal pointer fs--24">😍</i>
    <i class="las la-link color--grey fs--24"></i>
  </div>
</div>
