$color-primary: #6a983c;
$color-primary-010: #3b6a58;
$color-primary-020: #46760a;
$color-primary-030: #92c064;
$color-primary-040: #7bc4a9;
$color-primary-050: #c8deb3;
$color-primary-060: #bcddd0;
$color-primary-070: #f4f8ec;

$color-grey: #151515;
$color-grey-010: #575757;
$color-grey-020: #161616;
$color-grey-030: #8d9baa;
$color-grey-040: #b2b3ba;
$color-grey-050: #d1d1d1;
$color-grey-060: #ebebeb;
$color-grey-070: #f5f5f5;
$color-grey-080: #f9f9f9;

$color-warning: #d0a866;
$color-warning-010: #b28a48;
$color-warning-020: #ecd2a6;
$color-warning-030: #faedd8;
$color-warning-040: #fff9f0;

$color-error: #eb3f3f;
$color-error-010: #c7522d;
$color-error-020: #e5704b;
$color-error-030: #eb8d70;
$color-error-040: #f7c6b7;
$color-error-050: #fff1ed;

$color-info: #37d0d6;
$color-info-010: #396d8e;
$color-info-020: #19b2b8;
$color-info-030: #3da0ec;
$color-info-040: #7cd0d3;
$color-info-050: #a2d8ff;
$color-info-060: #b7d5ec;
$color-info-070: #b9e6e8;
$color-info-080: #ecf6f6;

$color-white: white;
$color-black: black;
$color-red-dark: #731917;

/* Classes - Text */
.color--primary {
  color: $color-primary;
}

.color--grey {
  color: $color-grey-010;
}

/* Classes - Background */
.bg-light {
  background-color: $color-grey-050;
}

.bg-white {
  background-color: $color-white;
}

/* Items */
.border-bottom {
  border-bottom: 1px solid $color-grey-060;
}
