$color-primary: #6a983c;
$color-primary-010: #3b6a58;
$color-primary-020: #46760a;
$color-primary-030: #6a983c;
$color-primary-040: #92c064;
$color-primary-050: #7bc4a9;
$color-primary-060: #c8deb3;
$color-primary-070: #bcddd0;
$color-primary-080: #f4f8ec;

$color-grey: #151515;
$color-grey-010: #575757;
$color-grey-020: #161616;
$color-grey-030: #8d9baa;
$color-grey-040: #b2b3ba;
$color-grey-050: #d1d1d1;
$color-grey-060: #ebebeb;
$color-grey-070: #f5f5f5;
$color-grey-080: #f9f9f9;
$color-grey-090: #a9a9a9;
$color-grey-100: #f1f1f1;
$color-grey-110: #d1d5db;
$color-grey-120: #e1e1e1;

$color-warning: #d0a866;
$color-warning-010: #b28a48;
$color-warning-020: #ecd2a6;
$color-warning-030: #faedd8;
$color-warning-040: #fff9f0;

$color-error: #FF5253;
$color-error-010: #c7522d;
$color-error-020: #e5704b;
$color-error-030: #eb8d70;
$color-error-040: #f7c6b7;
$color-error-050: #fff1ed;

$color-info: #37d0d6;
$color-info-010: #396d8e;
$color-info-020: #19b2b8;
$color-info-030: #3da0ec;
$color-info-040: #7cd0d3;
$color-info-050: #a2d8ff;
$color-info-060: #b7d5ec;
$color-info-070: #b9e6e8;
$color-info-080: #ecf6f6;
$color-info-090: #377dff;

$color-danger-010: #FBDED7;
$color-danger-020: #F9B7B0;
$color-danger-030: #F38887;
$color-danger-040: #E96874;
$color-danger-050: #df3859;
$color-danger-060: #BD2855;
$color-danger-070: #9E1C4F;
$color-danger-080: #801248;
$color-danger-090: #690A43;
$color-danger-100: #5A0741;

$color-success-010: #C5F9D0;
$color-success-020: #91F4B0;
$color-success-030: #57E08D;
$color-success-040: #2FC176;
$color-success-050: #009859;
$color-success-060: #008258;
$color-success-070: #006E55;
$color-success-080: #00584C;
$color-success-090: #003B23;
$color-success-100: #003A3E;

$color-white: #ffffff;
$color-black: #000000;
$color-red: #ff0000;
$color-red-dark: #731917;
$color-green: #008000;
$color-orange: #ffa500;
$color-grey: #808080;
$color-gold: #FDBC15;

/* Sidenav */
$sidenav-bg-color: #363746;
$sidenav-bg-color-hover: #3e405c;
$sidenav-bg-color-active: #4a4b5c;
$sidenav-text-color-active: #46b9df;

/* Classes - Text */
.color--primary {
  color: $color-primary;
}

.color--grey {
  color: $color-grey-010;
}

/* Classes - Background */
.bg-light {
  background-color: $color-grey-050;
}

.bg-white {
  background-color: $color-white;
}

/* Items */
.border-bottom {
  border-bottom: 1px solid $color-grey-060;
}
