@import './colors';
@import './mixins';
@import './variables';

/*
  FLEX HELPERS
*/

.flex {
  display: flex;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.justify--center {
  display: flex;
  justify-content: center;
}

.justify--space-between {
  display: flex;
  justify-content: space-between;
}

.justify--end {
  display: flex;
  justify-content: flex-end;
}

.align--center {
  display: flex;
  align-items: center;
}

.align--start {
  display: flex;
  align-items: flex-start;
}

.align--end {
  display: flex;
  align-items: flex-end;
}

.flex--1 {
  flex: 1;
}

.flex--wrap {
  flex-wrap: wrap;
}

.width--full {
  width: 100%;
}

.width--fit-content {
  width: fit-content;
}

.height--full {
  height: 100%;
}

/*
  COMMON
*/

.user-select--none {
  user-select: none;
}

.pointer-events--none {
  pointer-events: none;
}

.pointer {
  cursor: pointer;
}

/* TEXT ALIGN */
.text--left {
  text-align: center;
}

.text--center {
  text-align: center;
}

.text--right {
  text-align: center;
}

.position--relative {
  position: relative;
}

.text--ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cursor--default {
  cursor: default !important;
}

.bordered {
  border: 1px solid lightgrey;
}

.vertical-divider {
  border-right: 1.5px solid #d1d5db;
}

.circle {
  border-radius: 50%;
}

.text-decoration--none {
  text-decoration: none;
}

.empty {
  &:empty {
    display: none;
  }
}
/* RESPONSIVE HELPERS */
.hide-on-mobile {
  @media (max-width: $mobile-breakpoint) {
    display: none !important;
  }
}
.hide-on-tablet {
  @media (max-width: $tablet-breakpoint) {
    display: none !important;
  }
}
.center-on-mobile {
  @media (max-width: $mobile-breakpoint) {
    text-align: center !important;
  }
}
.hide-on-desktop {
  @media (min-width: $desktop-breakpoint) {
    display: none !important;
  }
}
