$border-radius-tiny: 2px;
$border-radius-xs: 4px;
$border-radius-md: 6px;
$border-radius-lg: 8px;
$border-radius-xl: 12px;
$border-radius-xxl: 16px;
$border-radius-semi-huge: 18px;
$border-radius-huge: 20px;
$border-radius-gigant: 32px;

/* BREAKPOINTS */
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1000px;
$desktop-breakpoint: 1400px;
