$border-radius-tiny: 2px;
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-xl: 12px;
$border-radius-xxl: 16px;

/* BREAKPOINTS */
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1000px;
$desktop-breakpoint: 1400px;
