<div class="flex justify--center">
  <form [formGroup]="userHrInformationFormGroup" class="flex--column mt--40 gap--8">
    <div>
      <label class="mr--16" for="birthDate">Birth Date</label>
      <input formControlName="birthDate" id="birthDate" type="date" />
    </div>

    <div>
      <label class="mr--16" for="employmentType">Employment Type</label>
      <select formControlName="employmentType" id="employmentType">
        <option value="internal">Internal</option>
        <option value="external">External</option>
      </select>
    </div>

    <cvz-input-group>
      <cvz-label>Status</cvz-label>
      <cvz-checkbox formControlName="status"></cvz-checkbox>
    </cvz-input-group>

    <cvz-input-group>
      <cvz-label>Nationality</cvz-label>
      <cvz-input-text formControlName="nationality"></cvz-input-text>
    </cvz-input-group>

    <cvz-input-group>
      <cvz-label>Weekly hours</cvz-label>
      <cvz-input-text formControlName="weeklyHours" type="number"></cvz-input-text>
    </cvz-input-group>

    <div>
      <label class="mr--16" for="gender">Gender</label>
      <select formControlName="gender" id="gender">
        <option value="man">Man</option>
        <option value="woman">Woman</option>
        <option value="all">All</option>
      </select>
    </div>

    <cvz-button (click)="onSaveHrInformation()" [disabled]="!userHrInformationFormGroup.valid">Save</cvz-button>
  </form>

</div>
