<div class="header-main">
  <img alt="" class="logo center-on-mobile" src="/assets/logo.png"/>
  <div class="search">
    <div class="all-categories hide-on-mobile">
      <span>All categories</span>
      <cavelizer-icon class="color-primary" name="arrow-down"></cavelizer-icon>
    </div>
    <input placeholder="Search Products, categories ..." type="text">
    <cavelizer-icon class="color-primary" name="search"></cavelizer-icon>
  </div>
  <div class="icons hide-on-mobile">
    <cavelizer-icon class="mr--36" name="users"></cavelizer-icon>
    <cavelizer-icon name="basket"></cavelizer-icon>
  </div>
</div>
