<div class="header-main">
  <img alt="" class="logo center-on-mobile" src="/assets/logo.png"/>
  <div class="search">
    <div class="all-categories hide-on-mobile">
      <span>All categories</span>
      <cvz-icon class="color-primary" name="arrow-down"></cvz-icon>
    </div>
    <input placeholder="Search Products, categories ..." type="text">
    <cvz-icon class="color-primary" name="search"></cvz-icon>
  </div>
  <div class="icons hide-on-mobile">
    <cvz-icon class="mr--36" name="users"></cvz-icon>
    <cvz-icon name="basket"></cvz-icon>
  </div>
</div>
