<div class="header-main">
    <img class="logo center-on-mobile" src="../../../../../assets/logo.png" alt="" />
    <div class="search">
        <div class="all-categories hide-on-mobile">
            <span>All categories</span>
            <i class="demo-icon icon-arrow-down hide-on-mobile"></i>
        </div>
        <input type="text" placeholder="Search Products, categories ...">
        <i class="demo-icon icon-search"></i>
    </div>
    <div class="icons hide-on-mobile">
        <i class="demo-icon icon-user"></i>
        <i class="demo-icon icon-basket"></i>
    </div>
</div>