<div class="justify--space-between py--16 mx--44 border-bottom ">
  <div class="flex gap--32">
    <span class="color--main fs--12">Chat with us</span>
    <a href="tel:+420 336 775 664" class="fs--12 color--grey text-decoration--none">+420 336 775 664</a>
    <a href="mailto:info@freshnesecom.com" class="fs--12 color--grey text-decoration--none">info@freshnesecom.com</a>
  </div>

  <div class="flex gap--40">
    <a class="text-decoration--none fs--12">Blog</a>
    <a class="text-decoration--none fs--12">About us</a>
    <a class="text-decoration--none fs--12">Careers</a>
  </div>
</div>
