@import 'colors';
@import 'variables';

.tag {
  display: inline-flex;
  justify-content: center;
  padding: 0px 8px;
  font-weight: 600;
  font-size: 12px;
  border-radius: $border-radius-xl;
}

:host {
  /* Green background */
  &.narrow {
    .tag {
      color: $color-primary;
      background-color: $color-primary-070;
    }
  }

  &.fat {
    .tag {
      align-items: center;
      padding: 4px 10px;
      color: $color-primary;
      background-color: $color-primary-070;
    }
  }

  /* Grey background */
  &.disabled {
    &.narrow {
      .tag {
        color: $color-grey;
        background-color: $color-grey-050;
      }
    }
  }

  &.disabled {
    &.fat {
      .tag {
        padding: 4px 10px;
        color: $color-grey;
        background-color: $color-grey-050;
      }
    }
  }

  /* Grey border */
  &.default {
    &.narrow {
      .tag {
        color: $color-grey;
        background-color: $color-white;
        border: 1px solid $color-grey-050;
      }
    }
  }

  &.default {
    &.fat {
      .tag {
        padding: 4px 10px;
        color: $color-grey;
        background-color: $color-white;
        border: 1px solid $color-grey-050;
      }
    }
  }
}
