<div class="flex justify--center">
  <form [formGroup]="userEmergencyContactFormGroup" class="flex--column mt--40 gap--8">
    <div>
      <label class="mr--16" for="fullName">Full Name</label>
      <input formControlName="fullName" id="fullName" type="string"/>
    </div>

    <div>
      <label class="mr--16" for="phoneNumber">Phone Number</label>
      <input formControlName="phoneNumber" id="phoneNumber" type="string"/>
    </div>

    <div>
      <label class="mr--16" for="relationshipType">Relationship Type</label>
      <select formControlName="relationshipType" id="relationshipType" name="">
        <option value="partner">Partner</option>
        <option value="sibling">Sibling</option>
        <option value="parent">Parent</option>
        <option value="child">Child</option>
        <option value="friend">Friend</option>
      </select>
    </div>

    <cavelizer-button (click)="onSaveUserEmergencyContact()"> Save</cavelizer-button>
  </form>
</div>
