<div class="flex justify--center">
  <form [formGroup]="userEmergencyContactFormGroup" class="flex--column mt--40 gap--8">
    <cvz-input-group>
      <cvz-label>Full name</cvz-label>
      <cvz-input-text formControlName="fullName"></cvz-input-text>
    </cvz-input-group>

    <cvz-input-group>
      <cvz-label>Phone</cvz-label>
      <cvz-input-text formControlName="phoneNumber"></cvz-input-text>
    </cvz-input-group>


    <div>
      <label class="mr--16" for="relationshipType">Relationship Type</label>
      <select formControlName="relationshipType" id="relationshipType" name="">
        <option value="partner">Partner</option>
        <option value="sibling">Sibling</option>
        <option value="parent">Parent</option>
        <option value="child">Child</option>
        <option value="friend">Friend</option>
      </select>
    </div>

    <cvz-button (click)="onSaveUserEmergencyContact()"> Save</cvz-button>
  </form>
</div>

