<h1>CAVELIZER COMPONENTS</h1>
<mat-accordion>
  <!-- BUTTON -->
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>cavelizer-button</strong>
      </mat-panel-title>
      <mat-panel-description>
        Creat de Sorin
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-button-example></app-button-example>
  </mat-expansion-panel>

  <!-- DROPDOWN -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>cavelizer-dropdown</strong>
      </mat-panel-title>
      <mat-panel-description>
        Creat de Sorin
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-dropdown-example></app-dropdown-example>
  </mat-expansion-panel>
</mat-accordion>
