<div class="flex justify--center">
  <form [formGroup]="userClothesSizesFormGroup" class="flex--column mt--40 gap--8">
    <div>
      <label class="mr--16" for="shirtSize">Shirt Size </label>
      <select name="" id="shirtSize" formControlName="shirtSize">
        <option value="xs">XS</option>
        <option value="s">S</option>
        <option value="m">M</option>
        <option value="l">L</option>
        <option value="xl">XL</option>
        <option value="xxl">XXL</option>
      </select>
    </div>

    <div>
      <label class="mr--16" for="hipSize">Hip Size</label>
      <input id="hipSize" type="number" formControlName="hipSize" />
    </div>

    <div>
      <label class="mr--16" for="footSize">Foot Size</label>
      <input id="footSize" type="number" formControlName="footSize" />
    </div>

    <cavelizer-button (click)="onSaveClothesSizes()"> Save</cavelizer-button>
  </form>
</div>
